/* .car-transfer ko section hera na hai k bchma leuxu vanda width sano vaidinxa
ARU SAB KASTO K XA 
HAPPY CODING....
*/

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
:root {
  --cyan: rgb(54, 96, 185);
  --hover: rgb(194, 153, 86);
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Main Container */

.main-container {
  max-width: 90%;
  margin: 40px auto 0 auto;
  font-family: "Oxygen", sans-serif;
  position: relative;
  background-image: url("../img/istockphoto-519870714-170667a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.main-container::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.849);
  z-index: -1;
}
/* Navigation */

header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.color-text {
  color: var(--hover);
  font-weight: 600;
}
.logo {
  width: 35%;
  font-size: 2rem;
  padding-left: 30px;
  color: #fff;
}

/* List items */
nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  padding: 1.2em;
}
.list-item {
  float: left;
}
.list-item a {
  text-decoration: none;
  padding: 1.2em;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.list-item a:hover {
  background-color: var(--hover);
  color: #fff;
}
/* contact button */
.btn {
  margin-right: 30px;
}
.btn a {
  text-decoration: none;
  padding: 0.7em;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid var(--hover);
  border-radius: 32px;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}
.btn:hover a {
  background-color: var(--hover);
  color: #fff;
}

/* main content */

main {
  height: 85vh;
  padding: 60px 0 0 150px;
}
.seat-booking p,
.vehicle-booking p {
  font-size: 1.5rem;
  color: var(--hover);
  font-weight: 600;
}
/* form */
.car-transfer {
  width: 60%;
  height: 30vh;
  margin: 10px 0;
  border: 2px solid #fff;
  padding: 2em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 20% 25% 20% 25%;
  color: #fff;
  font-size: 1.2rem;
}
select,
input {
  padding: 0.5em;
  font-size: 1rem;
}
/* form submit button */

.book-btn {
  border: 2px solid var(--hover);
  width: max-content;
  padding: 0.5em;
  border-radius: 32px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  transition: all 0.2s ease-in;
  color: rgb(228, 228, 228);
}
.book-btn:hover {
  background-color: var(--hover);
}
/* SERVICES LOCATION ABOUT */
#services,
#location,
#about {
  width: 90%;
  margin: 0px auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
#services,
#about,
#location {
  position: relative;
}
#services,
#about {
  background-color: var(--hover);
}

#services::after,
#location::after,
#about::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  font-size: 3em;
  top: 3%;
  left: 5%;
}
#services::after {
  content: "SERVICES";
}
#location::after {
  content: "LOCATION";
}
#about::after {
  content: "OUR TEAM";
}

.ser,
.locdes {
  justify-self: center;
  align-self: center;
  width: 60%;
}
#services h1,
#location h1,
#about h1 {
  padding-top: 60px;
  font-size: 2.7rem;
  color: #fff;
  text-align: center;
}
#location {
  border: 2px solid var(--hover);
}
#location h1 {
  color: var(--hover);
}

#services p,
#location p {
  text-align: left;
  padding: 30px 0;
  font-size: 1.1rem;
}

/* about team */
#about {
  height: 50vh;
}
.we {
  display: flex;
  justify-content: space-evenly;
}
.bo {
  margin-top: 10px;
  height: 30vh;
  width: 30%;
  border: 2px solid #fff;
}
