
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: #fff;
}
.startselling{
  height: 90vh;
}
video{
  width: 100%;
  position: relative; 
  z-index: -1;
}
.hero{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  grid-row-gap: 20px;
  z-index: -1;
}
.selling-call{
  text-align: center;
  position: relative;
  padding: 5rem;
}
.selling-call::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  filter: blur(3px);
  z-index: -1;
  border-radius: 16px;
}
.selling-call h1{
  color: var(--font);
  font-size: 3rem;
}
.selling-call p{
  margin-top: 5px;
  font-size: 1.1rem;
  color: #fff;
}
.become-seller-btn{
  all: unset;
  width: max-content;
  justify-self: center;
  background-color: var(--primary-color);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 106px;
  transition: all .5s ease;
  color: #fff;
  font-size: 1.2rem;

}
.become-seller-btn:hover{
  background-color: #2a6c88;
  transform: scale(1.08);
}
.become-seller-btn:active{
  transform: scale(0.8);
}

/* JOIN OUR COMMUNITY */



.join-our-community{
  text-align: center;
  background-color: var(--front);
}
.join-our-community h1{
  padding: 20px;
  text-transform: capitalize;
  color: var(--primary-color);

}
.our-members{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,250px));
  grid-gap: 30px;
  justify-content: center;
  padding: 40px;
}
.our-members img{
  height: 33vh;
  width: 90%;
}
.our-members li{
  box-shadow: 2px 2px 5px rgb(95, 95, 95);
  border-radius: 20px;
  padding: 10px 0;
  transition: .5s ease;
}
.our-members li:hover{
  transform: scale(1.05);
}
.our-members li:first-child {
  border: 6px solid var(--primary-color);
  background-color: transparent;
}
.want-to-join{
  display: grid;
  grid-row-gap: 15px;
  place-content: center;
  height: 29vh;
}
.want-to-join p{
  font-size: 2.5rem;
  padding: 0px;
}
.want-to-join h2{
  color: var(--primary-color);
   padding: 5px;

}
.how{
  padding-top: 50px;
  height: 50vh;
  text-align: center;
  position: relative;
  /* background:linear-gradient(pink 30%,steelblue ); */
  background-color: linen;
  color: #000;
}
.how h1{
  font-size: 2.5rem;
  padding: 15px;
  color: steelblue;
}
.create-deliver-paid{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}