.container {
  animation: pg-trans 1s ease-in forwards;
}

@keyframes pg-trans {
  0% {
    opacity: 0;
    padding-top: 100px;
  }
  50% {
    opacity: 0;
    padding-top: 50px;
  }
  100% {
    opacity: 1;
    padding-top: 0px;
  }
}
