{% extends 'adminsite/main_dash.html' %}



{% block content %}
<section class="home">
    <div class="text">Delete - Teachers</div>

    <p> Are you sure you want to delete "{{teacher.name}}" teacher?</p>
    
    <form action = "{% url 'delete-teacher' teacher.id %}" method ='post'>
        {% csrf_token %}
    
    <a class='btn btn-secondary ' href = "{% url 'teacher-dashboard' %}">cancel</a>
    <input type = 'submit' class = 'mx-3 btn btn-danger' value = 'Confirm'>

    </form>
<section>


{% endblock %}