{% extends 'adminsite/main_dash.html' %}


{% block content %}

<style>
    .student{
        margin-left: 30px;
    }
    .btn{
        width: max-content;
    }
    table{
        width: 90%;
        margin: 30px auto;
    }
    table th{
        text-align: center;
        color: steelblue;
    }
    input[type = 'search'],
    input[type = 'number']{
        padding: 5px;
        outline: 0px;
        font-size: 1.1rem;
        border-radius: 6px;
        border: 0px;

    }
   
    table tr td,
    table tr th{
        border: 1px solid steelblue;
        padding: 7px;
    }
    table tr td img{
        height: 50px;
    }
    .search{
        margin-top: 20px;
        color: #fff;
        background-color: #555;
        width: 97%;
        padding: 15px;
        border-radius: 16px;
    }
</style>
<section class="home">
    <div class="text">Dashboard - Student</div>



    <div class = 'student'>
        <div class="search">
               
            <form method = 'GET'>
                <label for = 'stu-name'>Name: </label>
                <input id = 'stu-name'  name = 'q' type="search" placeholder=" Name or Address..." aria-label="Search"> 
                <label for = 'uni_id'> Student Id: </label>
                <input id= 'uni_id' name = 'id' type="number" placeholder="Search  with id " aria-label="Search">
                <label for = 'standard'>Standard: </label>
                <input id= 'standard' name = 'standard' type="number" placeholder="Search  with standard " aria-label="Search">
                                
                <button class="btn btn-primary mx-3" type="submit">Search</button>
            </form>
        </div>
        <table>
            <tr>
                <th> Picture</th>
                <th>Name </th>
                <th>Address  </th>
                <th>contact </th>
                <th>Parents contact </th>
                <th> Standard </th>
                <th>status </th>
                {% if user.is_admin %}
                    <th>Action </th>
                {% endif %}
            </tr>
            {% for student in students  %}
                <tr>
                    <td><img src="/images/{{student.image}}"></td>
                    <td>{{student.name}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.contact}}</td>
                    <td>{{student.parentsContact}}</td>
                    <td> {{student.standard}}</td>
                    <td>{{student.status}}</td>
                    {% if user.is_admin %}
                    <td>
                        <a href="{% url 'edit-student' student.id %}"class="btn btn-secondary">Edit</a>
                        <a href = "{% url 'delete-student' student.id %}"class="btn btn-danger mx-3">Delete</a>
                    </td>
                    
                    {% endif %}
                </tr>
            {% endfor %}
        </table>


        {% if user.is_admin %}
            <a class='btn btn-primary my-3 mx-3' href = "{% url 'add-student' %}">Add Student </a>
        {% endif %}
        
        



    </div>
</section>


{% endblock content %}



